In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("C:/Users/anujp/Desktop/Data-Visualization-Final-Project/data/user_behavior_sample_data.csv")
df

          UserID   ItemID  CategoryID BehaviorType            Timestamp
0              1  2576651      149192           pv  2017-11-25 01:21:25
1              1  3830808     4181361           pv  2017-11-25 07:04:53
2              1  4365585     2520377           pv  2017-11-25 07:49:06
3              1  4606018     2735466           pv  2017-11-25 13:28:01
4              1   230380      411153           pv  2017-11-25 21:22:22
...          ...      ...         ...          ...                  ...
86953520  999999  4929832     4602841           pv  2017-12-02 12:39:54
86953521  999999  1492928     4794845           pv  2017-12-02 12:40:43
86953522  999999  2879219     4794845           pv  2017-12-02 12:41:09
86953523  999999  1497516     1817077           pv  2017-12-02 12:43:01
86953524  999999  4466226     1817077           pv  2017-12-02 12:43:19

[86953525 rows x 5 columns]

In [ ]:
df.size

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
for col in df.columns:
    unique_vals = df[col].nunique()
    print(f"{col}: {unique_vals} unique values")

In [ ]:
print("Unique Behavior Types:", df['BehaviorType'].unique())
print("Unique Categories:", df['CategoryID'].unique()[:10])  # First 10 for preview
print("Unique User IDs:", df['UserID'].unique()[:10])

In [ ]:
df['BehaviorType'].value_counts()

In [ ]:
df.groupby(['CategoryID', 'BehaviorType']).size().unstack().fillna(0)

In [ ]:
import pandas as pd

# Convert the Timestamp column to datetime if not already done
df['Datetime'] = pd.to_datetime(df['Timestamp'])

# Print the start and end times
start_time = df['Datetime'].min()
end_time = df['Datetime'].max()

print(f"Start Time: {start_time}")
print(f"End Time:   {end_time}")

Start Time: 2017-11-25 00:00:00
End Time:   2017-12-02 23:59:59