In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/anujp/Desktop/Data-Visualization-Final-Project/data/user_behavior_sample_data.csv")
df

          UserID   ItemID  CategoryID BehaviorType            Timestamp
0              1  2576651      149192           pv  2017-11-25 01:21:25
1              1  3830808     4181361           pv  2017-11-25 07:04:53
2              1  4365585     2520377           pv  2017-11-25 07:49:06
3              1  4606018     2735466           pv  2017-11-25 13:28:01
4              1   230380      411153           pv  2017-11-25 21:22:22
...          ...      ...         ...          ...                  ...
86953520  999999  4929832     4602841           pv  2017-12-02 12:39:54
86953521  999999  1492928     4794845           pv  2017-12-02 12:40:43
86953522  999999  2879219     4794845           pv  2017-12-02 12:41:09
86953523  999999  1497516     1817077           pv  2017-12-02 12:43:01
86953524  999999  4466226     1817077           pv  2017-12-02 12:43:19

[86953525 rows x 5 columns]

In [5]:
print("Dataset size is :",df.size)

Dataset size is : 434767625

In [7]:
print("Dataset shape is :",df.shape)

Dataset shape is : (86953525, 5)

In [8]:
print("Dataset columns are :",df.columns)

Dataset columns are : Index(['UserID', 'ItemID', 'CategoryID', 'BehaviorType', 'Timestamp'], dtype='object')

In [11]:
print("Total Unique Columns are \n")
for col in df.columns:
    unique_vals = df[col].nunique()
    print(f"{col}: {unique_vals} unique values")

Total Unique Columns are

UserID: 987982 unique values
ItemID: 3962559 unique values
CategoryID: 9377 unique values
BehaviorType: 4 unique values
Timestamp: 691200 unique values

In [13]:
print("Unique Behavior Types:", df['BehaviorType'].unique())

Unique Behavior Types: ['pv' 'buy' 'fav' 'cart']

In [14]:
df['BehaviorType'].value_counts()

BehaviorType
pv      77887614
cart     4789072
fav      2513338
buy      1763501
Name: count, dtype: int64

In [15]:
df.groupby(['CategoryID', 'BehaviorType']).size().unstack().fillna(0)

BehaviorType    buy   cart   fav      pv
CategoryID
80              0.0    0.0   0.0    17.0
1147            0.0    0.0   0.0     1.0
2171           90.0  127.0  42.0  1358.0
2410           14.0   33.0  14.0   581.0
2424            4.0    1.0   0.0    44.0
...             ...    ...   ...     ...
5159111         0.0    0.0   0.0    12.0
5159987         0.0    0.0   0.0     1.0
5160054         7.0    2.0   0.0   179.0
5161669       111.0   98.0  17.0   759.0
5162429         0.0    0.0   0.0     2.0

[9377 rows x 4 columns]

In [16]:
# Convert the Timestamp column to datetime if not already done
df['Datetime'] = pd.to_datetime(df['Timestamp'])

# Print the start and end times
start_time = df['Datetime'].min()
end_time = df['Datetime'].max()

print(f"Start Time: {start_time}")
print(f"End Time:   {end_time}")

Start Time: 2017-11-25 00:00:00
End Time:   2017-12-02 23:59:59